<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.OM.EdJourney">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.OM.EdJourney.CoursePage"
            android:exported="true">
            <!-- Intent filters, etc. if applicable -->
        </activity>
        <activity
            android:name="com.OM.EdJourney.LoginActivity"
            android:exported="true">

            <!-- Intent filters, etc. if applicable -->
        </activity>
        <activity
            android:name="com.OM.EdJourney.SignupActivity"
            android:exported="true">

            <!-- Intent filters, etc. if applicable -->
        </activity>

        <activity
            android:name="com.OM.EdJourney.CourseChaptersList"
            android:exported="true"/>
        <activity
            android:name="com.OM.EdJourney.WelcomeActivity"
            android:exported="true">
            <!-- Intent filters, etc. if applicable -->
        </activity>
        <activity
            android:name="com.OM.EdJourney.CourseDetailsActivity"
            android:exported="true">
            <!-- Intent filters, etc. if applicable -->
        </activity>
        <activity
            android:name="com.OM.EdJourney.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>